
/*--------------------------------------1000-----------------------------------*/
@media screen and (max-width: 1000px) {

	#wrapper {
		width: 85%;
	}

	.logo_wrap {
		width: 85%;
	}
}

/*--------------------------------------900------------------------------------*/
@media screen and (max-width: 900px) {


	.recommend {
		margin-bottom: 18em;
	}

	.rec {
		width: 30%;
		margin-right: 2.4em;
	}

	.rec:last-of-type {
		margin-right: 0;
	}

	p.merch_Desc {
		width: 100%;
	}

}

/*--------------------------------------768------------------------------------*/
@media screen and (max-width: 768px) {

	header {
		width: 100%;
	}
	
	p.mission {
		width: 80%;
		font-size: 1em;
		text-align: center;
		margin: 1em auto 2em auto;
	}
	
	main {
		width: 100%;
		margin-left: 0;
	}

	aside {
		width: 100%;
		margin-bottom: 0;
		padding-top: 2em;
		float: none;
	}

	#merch_Inner_Photos {
		float: none;
	}

	.rec {
		width: 23%;
		margin-left: 3em;
		margin-right: 0;
	}

	.rec h3 {
		font-size: .7em;
		line-height: 1em;
		margin-bottom: .5em;
	}

	.album_description {
		margin-bottom: 3em;
		width: 90%;
	}

	.album_description h2 {
		font-size: 1.2em;
	}

	#Merch {
		overflow: hidden;
	}

	.merch {
		width: 29%;
		float: left;
		margin-left: 1.2em;
		clear: none;
	}

	.merch_main {
		float: none;
		width: 100%;
		margin-right: 0;
	}

	.main_merch_mobile {
		display: block;
		width: 100%;
	}

	p.merch_Desc {
		line-height: 1.5em;
		font-size: .9em;
		width: 100%;
	}

	p.merch_price {
		font-size: .7em;
		width: 100%;
	}

	.album_description h2 {
		display: none;
	}

	.album_description {
		float: none;
		width: 100%;
		margin-left: 0;
	}
	.single {
		width: 98%;
	}

	.jacket {
		width: 98%;
	}

	h1.pre_order {
		width: 98%;
		font-size: 1em;
	}

	a.two_jacket {
		margin-right: .3em;
	}

	blockquote {
		width: 90%;
		margin: 0 auto;
	}

	p.liner_notes {
		display: none;
	}

	p.liner_notes_mobile {
		width: 60%;
		font-size: .7em;
	}

	#contact {
		float: none;
		margin: 0 auto 1.5em auto;
		text-align: center;
		overflow: hidden;
	}

	h4 {
		text-align: center;
	}

	.single {
		width: 90%;
		margin: auto;
	}

	img.big {
		max-width: 100%;
		margin-bottom: 1em;
	}

	li {
		width: 24%;
	}

	nav {
		width: 100%;
		
	}

	#party_wrapper {
		width: 90%;
		margin: 0 auto 2.7em auto;
	}

	.party_photos {
		margin: 0 20px 0 0;
		width: 48%;
	}

	.party_photos:nth-child(even) {
		margin: 0;
		overflow: hidden;
		display: inline;
		padding-bottom: 0;	
		float: left;
		width: 48%;
	}

	a.party {
		display: block;	
		width: 100%;
	}

}

/*--------------------------------------480------------------------------------*/

@media screen and (max-width: 480px) {

	body { 
		padding-top: 0 
	}

	h1, h2, h3, h4 {
		font-size: 95%
	}

	p {
		font-size: 85%;
		line-height: 160%;
	}

	#wrapper {
		width: 95%;
		margin: 40px auto 0 auto;
	}

	/*----------- Header --------------*/

	header {
		background: url('../images/LE_480_head6.jpg');
		position: right 10px top 0;
	}

	.logo_wrap {
		width: 70%;
		float: left;
		display: inline-block;
		margin: 0;
		vertical-align: middle;
	}

	#logo {
		margin-left: 20px;
		margin-right: 0;
		margin-bottom: 0;
		margin-top: 0;
		float: none;
		width: 40px;
		display: inline-block;
	}

	#logo img {
		width: 100px;
		margin-bottom: 0;
	}

	.menu_wrap, #menu, .hidden {
		display: none;
	}

	.mobile_menu_wrap {
		display: block;
		width: 100%;
		background: rgba(250, 250, 250, .9);
		overflow: hidden;
	}

	nav {
		width: 100%;
		margin: 0 auto;
		height: 30px;
		line-height: 30px;
		display: block;
		border-radius: 2px;
	}

	/*Strip the ul of padding and list styling*/
	ul#mobile_menu {
		list-style-type:none;
		margin:0;
		padding:0;
		position: absolute;
		display: block;
		width: 100%;
	}
	
	/*Create a horizontal list with spacing*/
	li {
		display:inline-block;
		float: left;
		margin-right: 1px;
		font-family: 'Lora', serif;
		font-weight: 700;
		font-size: .6em;
		letter-spacing: 1px;
		width: 75px;
	}

	ul#mobile_menu li:hover {
		font-size: .8em;
	}

	/*Style for menu links*/
	li a {
		display:block;
		min-width: 80px;
		height: 30px;
		text-align: center;
		line-height: 30px;
		color: #594F41;
		text-decoration: none;
	}

	.button-dropdown {
	    position: relative;
	}

	li .dropdown_menu {
	    display: none;
	    position: absolute;
	    left: 50px;
	    padding: 0;
	    margin: 0;
	   	margin-left: 10px;
	}

	li.item {
		width: 120px;
	}

	ul li:hover ul a {
		background: rgba(250, 250, 250, .9);
		color: #594F41;
		height: 30px;
		line-height: 30px;
		font-size: .65em;
		margin-left: 0;
	}

	li .dropdown_menu.active {
	    display: block;
	}

	li .dropdown_menu a {
	    width: 120px;
	}

	/*----------- Common --------------*/

	a.buy_mp3 {
		margin-bottom: .5em;
		margin-top: .2em;
		margin-left: 1em;
	}

	a.buy_mp3_artist {
		margin-bottom: .5em;
		margin-top: .2em;
		margin-left: 1em;
		margin-right: 1em;
	}

	a.buy_mp3_store {
		margin-bottom: .5em;
		margin-top: .2em;
		margin-left: 1em;
		margin-right: .2em;
	}

	a.buy_Now_Button {
		display: block;
	}

	.article {
		padding-top: 1em;
	}

	/*----------- Home --------------*/

	
	img.single_song {
		margin: 1em auto;
		width: 100%;
	}

	h1.pre_order {
		font-size: .7em;
	}

	.main_song iframe {
		width:  100%;
		margin: 0 auto .5em auto;
		clear: both;
		display: block;
	}

	/*----------- About --------------*/

	.image_caption {
		width: 100%;
	}

	p.mission {
		width: 100%;
	}

	/*------------ News ---------------*/

	#party_wrapper {
		width: 95%;
		margin: 20px auto 30px auto;
	}

	.party_photos {
		margin: 0 10px 0 0;
		width: 48.3%;
	}

	.party_photos:nth-child(even) {
		width: 48.3%;
	}

	/*------------ Artist ---------------*/

	.merch {
		float: none;
		width: 65%;
		margin: 1em auto;
	}

	img.profile {
	 	margin-bottom: 1em;
	} 

	.bio {
		margin-bottom: 1em;
	}

	/*---------- Merch Innner -----------*/

	#merch_Inner_Photos {
		width: 100%;
		margin: auto;
	}

	#merch_Inner_Photos img.big_Photo {
		padding: 0;
		margin: 0;
		float: none;
	}

	.album_photos {
		display: none;
	}

	.album_description {
		width: 100%;
		padding-top: .8em;
		float: none;
		clear: both;
	}

	blockquote {
		line-height: 160%;
		font-size: .9em;
		font-weight: bold;
		padding-left: 1.8em;
		padding-right: 1.8em;
		width: 85%;
	}

	blockquote:before {
		margin: 15px 5px 5px -25px;
	}

	blockquote:after {
		margin: 23px 5px 5px 5px;
	}

	p.senna {
		font-size: 1em;
		padding-top: .5em;
		padding-right: 1.8em;
	}

	p.liner_notes_mobile {
		display: block;
		font-size: .7em;
		margin-bottom: 2em;
		clear: both;
		width: 100%;
	}

	.song iframe {
		margin-bottom: 1em;
		margin-top: 1em;
	}

	/*------------- Store -------------*/
	
	.recommend {
		margin-bottom: 1em;
	}

	.rec {
		display: inline-block;
		width: 44%;
		margin-left: .5em;
		margin-right: .5em;
		padding-bottom: .5em;
		margin-bottom: 0;
	}

	p.merch_Desc {
		font-size: .8em;
	}

	p.merch_price {
		font-size: .6em;
	}

	/*------------- Footer -------------*/

	.mobile_social {
		margin: .7em auto;
		float: none;
		width: 180px;
		display: block;
		overflow: hidden;
	}

	.mobile_social img {
		display: inline;
		width: 30px;
		float: left;
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 0;
	}

	footer.desktop {
		display: none;
	}

	footer.mobile {
		margin-top: 2em;
		padding-bottom: .8em;
		width: 100%;
		clear: both;
		overflow: hidden;
		background-color: #F0DEFF;
		display: block;
		list-style-type: none;
	}

	ul.mobile_contact_footer {
		text-align: center;
		list-style-type: none;
		float: none;
		width: 100%;
		margin: auto;
		border: none;
		display: block;
		
	}

	ul.mobile_contact_footer li {
		margin-top: .2em;
		font-size: 9px;
		display: block;
		width: 100%;
	}

	ul.mobile_rights_footer {
		width: 100%;
		margin-top: 2em;
		text-align: center;
		list-style-type: none;
		display: block;
		clear: both;

	}

	ul.mobile_rights_footer li {
		display: inline-block;
		margin: 1em .1em .1em .1em;
		width: 32%;
		float: left;
		font-size: 8px;
	}

	.social {
		display: none;
	}

	ul.soc {
		display: none;
	}

	ul.soc li {
		display: none;
	}

	ul.soc li img {
		display: none;
	}

}